 nav {
   height: 120px;
   width: 100vw;
   font-family: Bungee, sans-serif;
   background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;

}

.logo {
  font-size: 2.5rem;;
}

.write-tweet {
  font-family: "Source Sans Pro", serif;
}